html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #1B998B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

header {
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 810px;
  height: 700px;
  margin: 0 auto;
  justify-content: center;
  background-color: #2D3047;
  padding-top: 20px;
  border-radius: 10%;
}

.bubble {
  border-radius: 50%; 
  background-color: white;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  outline: 1px solid black;
}

.bubble:hover {
  background-color: grey;
}

.player-one {
  background: #FF9B71;
}

.player-two {
  background: #E84855;
}

.filled {
  display: none;
}

.modal-body {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.modal-body-win {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}


