html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background: rgb(34,193,195);
  background: linear-gradient(349deg, rgba(34,193,195,1) 0%, rgba(30,168,170,1) 13%, rgba(23,131,133,1) 32%, rgba(12,67,68,1) 65%, rgba(7,40,41,1) 79%, rgba(0,0,0,1) 100%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h3 {
  font-size: 40px;
  
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 810px;
  height: 700px;
  margin: 0 auto;
  justify-content: center;
  background: rgb(131,58,180);
  background: linear-gradient(160deg, rgba(131,58,180,1) 0%, rgba(17,21,51,1) 50%, rgba(252,176,69,1) 100%); 
  padding-top: 20px;
  border-radius: 10%;
}

.bubble {
  border-radius: 50%; 
  background-color: white;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  outline: 1px solid black;
}

.bubble:hover {
  background-color: grey;
}

.player-one {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,16,1) 35%, rgba(0,212,255,1) 100%);
}

.player-two {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.filled {
  display: none;
}

.modal-body-start {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.modal-body-win {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.modal-body-info {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#infoModal {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  margin: 20px 0 0 20px;
}










